.dws-menu *{
margin: 0;
padding:0;
color: white;

}

body{
	font-family: 'Marck Script', cursive;
}
@media screen and (max-width: 1930px){


.dws-menu ul {
	display: flex;
	padding: 35px;
	list-style: none;
	font-size: 23px;
	padding-left: 135px;

}
}
@media screen and (min-width: 1930px){
.dws-menu ul {
	display: flex;
	padding: 35px;
	list-style: none;
	font-size: 23px;
	padding-left: 18%;

}
}
.dws-menu{
	background-color: black;
	height: 100px;

}
.dws-menu ul li p{
	padding: 0px 175px 0px 100px;
	
}

.dws-menu ul li a img {
	width: 200px;
	height: 200px;	 
}

.dropdown{
	display: flex;
	width: 10px;
	height: 35px;
	color: white;
}
.dropdown embed{
	height: 20px;
	width: 20px;

}

.dropdown-menu{
	font-size: 20px;
	background-color: ;
}

.dropdown i.fas {
	font-size: 25px;


}
.dws-menu i.fas {
	margin-right: 15px;
}

.main-menu {
background-color: #A20F0F;
height: 85px;
}
.main-menu ul{
	display: flex;
	justify-content: center;
	list-style: none;
	font-size: 30px;
	padding: 20px;

}

.main-menu ul li a {
	text-decoration: none;
	padding: 0px 100px 0px 100px; 
	color: white;
	transition: all 0.5s ease;

}


.main-menu ul li a:hover {
	color: black;
	transition: all 0.5s ease;
}

main{
	background-image: url("../PIC/bc.jpg");
}

button:hover{
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.5s ease;
}

.carousel{
	padding-top: 15px;
}

.cards  {
	padding-top: 15px;
	display: flex;
	justify-content: center;
	flex-wrap: row wrap;

}

.top-salles{
	display: flex;
	justify-content: center;
	color: white;
	padding: 15px 0px 15px 0px;
}


.card {
	margin-left: 15px;
}

.card-text{
	font-size: 20px;
}
.btn{
	width: 280px;
	font-size: 20px;
}
.btn:hover{
	background-color: red;

}
.row{
	padding-bottom: 70px;
}


/*FOOTER*/

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #B22222, #16222A);
  background: linear-gradient(59deg, #B22222, #16222A);
  color: white;

}

footer a {
  color: #fff;
  font-size: 18px;
  transition-duration: 0.2s;


}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
